header{
    background-color: #474747;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.section_2{
    display: flex;
    margin: 50px 0;
    gap : 50px;
    padding: 0 50px;
}
.section_2 img{
    width: 100%;
    height: 175px;
    border-radius: 20px;
}
.section_2 div{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #828282;
    border-radius: 20px;
    padding:0 10px;
}
.audi_logo{
    width: 50%;
}
.section_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    padding: 0 50px;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
@media (max-width: 1200px){
    .section_2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section_2 div{
        width: 25%;
    }
}
@media (max-width: 750px){
    .section_2 {
        flex-direction: column;
    }
    .section_2 div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section_2 img{
        width: 50%;
        height: auto;
    }
}
@media (max-width: 500px){
    .section_2 img{
        width: 80%;
    }
    .audi_logo{
        width: 80%;
    }
}